# Pandas

Pandas = Panel Data

In [1]:
import pandas as pd

In [2]:
# Series

# The core of Pandas is the DataFrame
# A DataFrame is basically a table and is composed of Series
# A Series is a set of values that are indexed

series_test = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(pd.Series(series_test))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [3]:
import os # This will be used to tell us where the file is
import pandas as pd

pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in

filepath = pwd + "/simple_csv.csv"

first_import = pd.read_csv(filepath)
first_import

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

In [4]:
# Columns
first_import["Column1"]
first_import["Column2"]

0     0.910368
1     0.210024
2     0.059796
3     0.485614
4     0.236359
5     0.543641
6     0.409874
7     0.045468
8     0.786421
9     0.695694
10    0.070956
11    0.211985
12    0.091548
13    0.040322
14    0.963556
15    0.410422
16    0.245207
17    0.019264
18    0.212611
19    0.123660
20    0.265852
21    0.860616
22    0.406456
23    0.129426
24    0.388967
25    0.416908
26    0.935814
27    0.772005
28    0.780085
Name: Column2, dtype: float64

In [5]:
first_import["New_Column"] = 1 # You can specify a uniform value for every row 

first_import["New_Column2"] = range(29) # You can pass a list of values that is as long as the DataFrame

first_import["Adding Stuff"] = first_import["Column3"] + first_import["Column1"] # You can take a couple of columns and add their values together

# first_import = first_import.drop(columns="Column2") # delete column

# first_import.drop(columns="Column3", inplace=True) # The "drop" method creates a copy of the DataFrame. If you want to change the original DataFrame either do what we did in the line above, or use the "inplace" argument

first_import

     Column1   Column2   Column3  New_Column  New_Column2  Adding Stuff
0   0.280925  0.910368  0.692982           1            0      0.973907
1   0.719882  0.210024  0.761276           1            1      1.481158
2   0.235752  0.059796  0.154667           1            2      0.390419
3   0.603366  0.485614  0.013345           1            3      0.616711
4   0.039985  0.236359  0.811832           1            4      0.851816
5   0.015478  0.543641  0.112719           1            5      0.128197
6   0.192540  0.409874  0.875082           1            6      1.067622
7   0.380921  0.045468  0.515859           1            7      0.896780
8   0.592471  0.786421  0.047249           1            8      0.639721
9   0.072112  0.695694  0.409573           1            9      0.481685
10  0.898072  0.070956  0.209020           1           10      1.107093
11  0.722038  0.211985  0.324164           1           11      1.046201
12  0.513517  0.091548  0.664279           1           12      1.177795
13  0.436729  0.040322  0.548167           1           13      0.984896
14  0.864039  0.963556  0.106398           1           14      0.970438
15  0.724761  0.410422  0.587589           1           15      1.312350
16  0.198926  0.245207  0.767356           1           16      0.966282
17  0.748500  0.019264  0.046678           1           17      0.795178
18  0.920639  0.212611  0.520463           1           18      1.441103
19  0.452024  0.123660  0.847451           1           19      1.299475
20  0.542977  0.265852  0.410926           1           20      0.953903
21  0.355266  0.860616  0.589431           1           21      0.944697
22  0.142688  0.406456  0.204095           1           22      0.346783
23  0.850436  0.129426  0.719027           1           23      1.569464
24  0.443476  0.388967  0.596924           1           24      1.040399
25  0.467100  0.416908  0.098037           1           25      0.565137
26  0.338536  0.935814  0.736899           1           26      1.075435
27  0.942101  0.772005  0.441574           1           27      1.383675
28  0.570130  0.780085  0.085592           1           28      0.655722

In [6]:
# Rows
# The `loc` method allows us to use the names of columns to specify them. 

# You structure a `loc` query like below: 
# `dataframe.loc[from_row : to_row , [list_of_columns]]`

first_import.loc[:, "Column1"] # Select all rows in Column1

first_import.loc[0:4, "Column2"] # Select rows 0 to 4 in Column2

first_import.loc[3:7, ["Column3", "New_Column2"]]

    Column3  New_Column2
3  0.013345            3
4  0.811832            4
5  0.112719            5
6  0.875082            6
7  0.515859            7

In [7]:
# An `iloc` query is based off of normal numerical indexing 
# but operates mostly the same way

first_import.iloc[:, 1] # Column1

first_import.iloc[0:4, 2] # Column2

first_import.iloc[:, 0:3] # Select all rows in Column1 - Column3

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592